*{
  margin: 0;
  padding: 0;
  
}

.displaygrid{
  display: grid;
  grid-column: 2;
  grid-template-columns: 1fr 2fr;
  
}
.navbar{
  height: 60px;
  border: 2px solid black;
  margin: 0 0 2.5rem;
}
.display{
  /* border: 2px solid black; */
  margin:  auto;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  overflow-y: hidden;
  
}
  

@font-face {
  font-family: Noe;
  src: url(./Font/Modernia-Regular.otf);
}
.text{
  /* font-family: Noe; */
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  /* font-size: 40px; */
  color: white;
  overflow-x: hidden;
  overflow-wrap: break-word;
  overflow-y:hidden;
  
}

.color{
  width: 20px;
  height: 20px;
  border: 2px solid black;
}
